## Ignore Visual Studio temporary files and build results

src/ # Visual Studio cache/options directory
x64/ # build results

*.sln # container for project(s)
*.vcxproj # structure, settings, and build instructions
*.vcxproj.filters # organizes source files within the Visual Studio Solution Explorer
*.user # user-specific files